@for (travel of travels; track travel) {
<div class="post">
  <h2>{{ travel.title }}</h2>
  <p class="date">{{ travel.startDate | date : "medium" }}</p>
  <p>{{ travel.description }}</p>

  <div class="photo-gallery">
    <ng-container *ngFor="let photo of displayedPhotos(travel); let i = index">
      <img *ngIf="i < maxPhotos" [src]="photo" alt="Post Photo" />
    </ng-container>

    <!-- Show a "+x" button if there are more photos than the limit -->
    <div class="more-photos" *ngIf="travel.photosUrl.length > maxPhotos">
      +{{ travel.photosUrl.length - maxPhotos }} more
    </div>
  </div>
</div>

}
