@if (accountService.currentUser()) {
<app-loading [isLoading]="isLoading | async" [isOverlay]="true"></app-loading>
@if ((isLoading | async) === false) {
<div class="row">
  @for (travel of travels?.items; track travel) {
  <app-travel-card
    [travel]="travel"
    [profilePhotoDisplay]="true"
    (click)="navigateToTravelDetails(travel?.id)"
  ></app-travel-card>
  }
</div>
<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="(pageNumber - 1) * pageSize"
  [rows]="pageSize"
  [totalRecords]="travels.totalCount"
  [rowsPerPageOptions]="[5, 10, 15, 20]"
/>
} } @else {
<app-login></app-login>
}
