<h1>{{ title }}</h1>

<ul>
  <li *ngFor="let user of users">{{ user.id }} - {{ user.userName }}</li>
</ul>

<div class="row" style="display: flex">
  <div class="col-2">
    <app-button icon="pi pi-check" label="Test"></app-button>
    <app-input-text
      size="'small'"
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
    <app-calendar
      label="Calendar"
      [required]="true"
      [control]="date"
      [selectionMode]="'range'"
    ></app-calendar>
  </div>
  <div class="col-1">
    <app-input-text
      [control]="control"
      label="whatever"
      tooltip="nice tooltip"
    ></app-input-text>
    <app-button icon="pi pi-check" label="Test"></app-button>
    <app-input-text
      [control]="control"
      label="whatever"
      (onFocus)="testMethod()"
    ></app-input-text>
  </div>
  <div class="col-2">
    <app-dropdown
      [control]="dropdownControl"
      [label]="'Dropdown'"
      optionLabel="name"
      optionValue="value"
      [options]="options"
    ></app-dropdown>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
    <app-button
      icon="pi pi-check"
      label="Test"
      [style]="{ width: '100%' }"
    ></app-button>
  </div>
  <div class="col-2">
    <app-input-text
      [control]="control"
      label="whatever"
      (onFocus)="testMethod()"
    ></app-input-text>
    <app-button label="Test" [style]="{ width: '100%' }"></app-button>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
    <app-button
      icon="pi pi-check"
      label="Test"
      [style]="{ width: '100%' }"
    ></app-button>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
  </div>
  <div class="col-2">
    <app-input-text
      [control]="control"
      label="whatever"
      (onFocus)="testMethod()"
    ></app-input-text>
    <app-dropdown
      [control]="dropdownControl"
      [label]="'Dropdown'"
      optionLabel="name"
      optionValue="value"
      [options]="options"
    ></app-dropdown>
    <app-dropdown
      [control]="dropdownControl"
      [label]="'Dropdown'"
      optionLabel="name"
      optionValue="value"
      [options]="options"
      [placeholder]="'Something will be chosen'"
    ></app-dropdown>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
  </div>
  <div class="col-2">
    <app-calendar
      [control]="date"
      label="whatever"
      [dateFormat]="'D M yy'"
    ></app-calendar>
    <app-calendar
      [control]="date"
      [maxDate]="max"
      [minDate]="min"
      label="whatever"
    ></app-calendar>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
    <app-input-text
      [control]="control"
      label="whatever"
      [readonly]="true"
    ></app-input-text>
  </div>
</div>
