<div class="p-3">
  <div class="surface-100 cursor-pointer z-index border-round">
    <div class="photo relative border-round">
      <p-image
        imageClass="border-round"
        width="332"
        [src]="travel().photoUrls[0]"
      /><p-image />
    </div>
    <div class="p-3">
      <div class="text-900 font-semibold text-xl size-20 mb-3">
        {{ travel().title }}
      </div>
      <p class="text-700 text-lg mt-0 mb-5">
        {{ travel().description }}
      </p>
      <div
        class="flex flex-wrap gap-2 align-items-center justify-content-between"
      >
        <span class="flex align-items-center text-900"
          ><i class="pi pi-comment mr-2"></i
          ><span class="font-semibold">2</span></span
        ><span class="flex align-items-center text-900"
          ><i class="pi pi-thumbs-up mr-2"></i
          ><span class="font-semibold">7</span></span
        ><span class="flex align-items-center text-900"
          ><i class="pi pi-clock mr-2"></i
          ><span class="font-semibold">{{
            travel().startDate | date : "dd.MM.yyyy"
          }}</span></span
        >
      </div>
    </div>
  </div>
</div>
