<app-loading [isLoading]="isLoading | async" [isOverlay]="true"></app-loading>
@if(!(isLoading | async)) {
<!-- Row 1: photo and username and settings -->
@if (user) {
<p-card class="user-profile-card">
  <div class="card-header">
    <!-- Photo of the user -->
    <p-avatar
      [image]="
        this.user.profilePhotoUrl === '' || this.user.profilePhotoUrl === null
          ? '../../assets/defaultProfilePicture.jfif'
          : this.user.profilePhotoUrl
      "
      styleClass="profile-picture mr-2"
      size="xlarge"
      shape="circle"
    />
    <!-- Info about user (name, folllowers) -->
    <div class="user-info">
      <div class="username">{{ this.user.username }}</div>
      <div class="bio">{{ this.user.bio }}</div>
      <div class="followers-info">
        <div class="following clickable" (click)="showFollowingDialog()">
          <p>following</p>
          <p>{{ numberOfFollowings }}</p>
        </div>
        <div class="followers clickable" (click)="showFollowersDialog()">
          <p>followers</p>
          <p>{{ numberOfFollowers }}</p>
        </div>

        @if(!isCurrent){
        <div class="follow-button">
          <app-button
            [icon]="
              isFollowedByCurrent ? 'pi pi-user-minus' : 'pi pi-user-plus'
            "
            [label]="isFollowedByCurrent ? 'Unfollow' : 'Follow'"
            class="settings-button"
            (onClick)="toggleFollow()"
          />
        </div>
        }
      </div>
    </div>

    <!-- Settings  -->
    @if(isCurrent) {

    <div class="spinner-buttom">
      <p-speedDial
        [buttonStyle]="{
          width: '2.4rem',
          height: '2.4rem',
          fontSize: '0.2rem'
        }"
        transitionDelay="80"
        showIcon="pi pi-ellipsis-v"
        hideIcon="pi pi-times"
        [model]="items"
        direction="down"
      ></p-speedDial>
    </div>

    }
  </div>
</p-card>

<!-- Tabs for main content -->
<div class="main-part">
  <p-tabView class="tabs">
    <p-tabPanel header="Feed">
      <!-- Content for Your Board/Feed tab -->
      <app-travels [user]="user"></app-travels>
    </p-tabPanel>
    <p-tabPanel header="Statistics">
      <!-- Content for Statistics tab -->
      <app-statistics [userId]="user?.id"></app-statistics>
    </p-tabPanel>
    <p-tabPanel header="Map">
      <!-- Content for Statistics tab -->
      <app-map [userId]="user?.id"></app-map>
    </p-tabPanel>
    <p-tabPanel header="Wishlist">
      <!-- Content for Wishlist tab -->
      <p>Content for Wishlist</p>
    </p-tabPanel>
  </p-tabView>
</div>
} }
