<app-loading [isLoading]="isLoading | async" [isOverlay]="true"></app-loading>
@if(!(isLoading | async)) {
<!-- Row 1: photo and username and settings -->
@if (user) {
<p-card class="user-profile-card">
  <div class="card-header">
    <!-- Photo of the user -->
    <p-avatar
      [image]="
        this.user.profilePhotoUrl === '' || this.user.profilePhotoUrl === null
          ? '../../assets/defaultProfilePicture.jfif'
          : this.user.profilePhotoUrl
      "
      styleClass="profile-picture mr-2"
      size="xlarge"
      shape="circle"
    />
    <!-- Info about user (name, folllowers) -->
    <!-- TODO -->
    <div class="user-info">
      <div class="username">{{ this.user.username }}</div>
      <div class="bio">{{ this.user.bio }}</div>
      <div class="followers-info">
        <div class="following">
          <p>following</p>
          <p>{{ numberOfFollowings }}</p>
        </div>
        <div>
          <p>followers</p>
          <p>{{ numberOfFollowers }}</p>
        </div>
        @if(!isCurrent){
        <div class="follow-button">
          <app-button
            [icon]="
              isFollowedByCurrent ? 'pi pi-user-minus' : 'pi pi-user-plus'
            "
            [label]="isFollowedByCurrent ? 'Unfollow' : 'Follow'"
            class="settings-button"
            (onClick)="toggleFollow()"
          />
        </div>
        }
      </div>
    </div>

    <!-- Settings  -->
    @if(isCurrent) {
    <app-button
      icon="pi pi-cog"
      label="Edit profile"
      class="settings-button"
      (onClick)="goToSettings()"
    />
    <app-button
      icon="pi pi-sign-out"
      label="Log out"
      class="settings-button"
      (onClick)="logOut()"
    />
    }
  </div>
</p-card>

<!-- Tabs for main content -->
<div class="main-part">
  <p-tabView class="tabs">
    <p-tabPanel header="Feed">
      <!-- Content for Your Board/Feed tab -->
      <app-travels [user]="user"></app-travels>
    </p-tabPanel>
    <p-tabPanel header="Statistics">
      <!-- Content for Statistics tab -->
      <p>Content for Statistics</p>
    </p-tabPanel>
    <p-tabPanel header="Wishlist">
      <!-- Content for Wishlist tab -->
      <p>Content for Wishlist</p>
    </p-tabPanel>
  </p-tabView>
</div>
} }
