.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 69rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.tags-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.5rem;
}


p-chip {
  flex: 0 1 auto; 
}


@media (max-width: 768px) {
  .card {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  
.wrapper {
  width: 19rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
}


