<p-card header="LOG IN">
  <div class="row" style="display: flex">
    <app-input-text
      class="mr-2"
      [control]="username"
      label="Username"
    ></app-input-text>
    <app-input-text
      class="ml-2"
      [isPassword]="true"
      [control]="password"
      label="Password"
    ></app-input-text>
  </div>

  <div class="row" style="display: flex">
    <div class="col-9"></div>
    <app-button
      class="col-3 mt-2"
      [style]="{ width: '100%' }"
      label="Log in"
      (onClick)="login()"
    ></app-button>
  </div>

  <div class="row" style="display: flex">
    <div class="haveAccount">Don't you have an account yet?</div>
    <app-button label="Sign up" [link]="true" (onClick)="goSignUp()"></app-button>
  </div>
</p-card>
