<div>
  <p-button
    [ariaLabel]="ariaLabel"
    [autofocus]="autofocus"
    [badge]="badge"
    [badgeClass]="badgeClass"
    [disabled]="disabled"
    [icon]="icon"
    [iconPos]="iconPos"
    [label]="label"
    [link]="link"
    [loading]="loading"
    [loadingIcon]="loadingIcon"
    [outlined]="outlined"
    [plain]="plain"
    [raised]="raised"
    [rounded]="rounded"
    [severity]="severity"
    [size]="size"
    [style]="style"
    [styleClass]="styleClass"
    [tabindex]="tabindex"
    [text]="text"
    [type]="type"
    (onClick)="onClickMethod($event)"
  />
</div>
