<div class="row" style="display: flex">
  <div class="col-2">
    <app-button
      label="Test button"
      [style]="{ width: '100%' }"
      (click)="consoleLog()"
    ></app-button>
  </div>
  <div class="col-2">
    <app-input-text
      label="Test input text"
      [control]="control"
    ></app-input-text>
  </div>
  <div class="col-2">
    <app-calendar label="Test calendar" [control]="date"></app-calendar>
  </div>
  <div class="col-2">
    <app-dropdown
      label="Test dropdown"
      [control]="dropdownControl"
      optionLabel="name"
      optionValue="value"
      [options]="options"
    ></app-dropdown>
  </div>
  <div class="col-1">
    <app-checkbox
      [control]="checkboxControl"
      label="Test checkbox"
      name="what"
      value="Hello"
    ></app-checkbox>
  </div>
  <div class="col-1">
    <app-checkbox
      [control]="checkboxControl"
      label="Test checkbox2"
      name="what"
      value="Bye"
    ></app-checkbox>
  </div>
</div>
