
.edit-profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.5rem;
  width: auto;

}

.edit-elements-container {
  display: flex;
  width: 80%; 
  align-items: stretch; 
  gap: 1rem; 
}

::ng-deep .round-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .profile-picture-section{
    display: flex;   
    flex: 0 0 30%;
  }

  .input-container{
    display: flex;
    flex: 0 0 70%;
    flex-direction: column;
    gap: 1rem;
  }


  .button-container.buttons-photo-edit{
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }


  .button-container.buttons-decision{
    display: flex;
    flex-direction: row;
    padding-top: 1.2rem;
    gap: 1rem;
  }

