<app-loading [isLoading]="isLoading | async" [isOverlay]="true" />
@if (user) {
<div class="edit-profile-container">
  <!-- name + alert -->
  <div class="header" style="display: flex; width: 80%">
    <div class="col-4">
      <h1>Hello {{ user.username }}!</h1>
      <h2>Edit your profile</h2>
    </div>
    <div class="col-8">
      <p-messages
        [(value)]="unsavedChangesMessages"
        [closable]="true"
        severity="info"
        [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'"
      ></p-messages>
    </div>
  </div>

  <!-- photo + input section 50 - 50 -->
  <div class="edit-elements-container">
    <div class="profile-picture-section">
      <p-image
        src="{{ previewProfilePhotoUrl }}"
        [alt]="'../../assets/defaultProfilePicture.jfif'"
        width="150"
        class="round-image"
        [preview]="true"
      />
      <div class="button-container buttons-photo-edit">
        <app-button
          label="Modify"
          [rounded]="true"
          size="small"
          [outlined]="true"
          [style]="{ padding: '10px 20px' }"
          (onClick)="updateProfilePicture()"
        />
        <app-button
          label="Delete"
          [rounded]="true"
          size="small"
          [outlined]="true"
          [style]="{ padding: '10px 20px' }"
          (onClick)="deleteProfilePicture()"
        />
      </div>
    </div>
    <p-divider layout="vertical" />
    <div class="input-container">
      <!-- Username input -->
      <app-input-text
        [control]="form.controls.username"
        [label]="'Username'"
        [placeholder]="'Enter your username...'"
      ></app-input-text>

      <!-- username input validation -->
      @if(form.controls.username.invalid || form.controls.username.touched){
      <div>
        @if(form.controls.bio.validator?.['required']){
        <small class="error"> Bio is required. </small>
        } @if(form.controls.bio.errors?.['maxlength']){
        <small class="error"> Bio cannot be longer than 20 characters. </small>
        }
      </div>
      }

      <app-input-text
        [control]="form.controls.bio"
        [label]="'Bio'"
        [placeholder]="'Create your profile bio...'"
        size="large"
      />
    </div>
  </div>
  <div class="button-container buttons-decision">
    <app-button
      [disabled]="!form.dirty"
      label="Save"
      [rounded]="true"
      size="large"
      severity="contrast"
      [style]="{ padding: '10px 20px' }"
      (onClick)="this.onSaveChanges()"
    />
    <app-button
      label="Cancel"
      [rounded]="true"
      size="large"
      severity="contrast"
      [outlined]="true"
      [style]="{ padding: '10px 20px' }"
      (onClick)="onDiscardChanges()"
    />
  </div>
</div>

}
