@if(accountService.currentUser()) {
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="assets/traveler-logo.png"
      alt="Logo"
      class="logo"
      routerLink="/"
    />
  </ng-template>
</p-menubar>
} @if(!accountService.currentUser()) {
<p-menubar [model]="loggedOutItems">
  <ng-template pTemplate="start">
    <img
      src="assets/traveler-logo.png"
      alt="Logo"
      class="logo"
      routerLink="/"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2"></div>
  </ng-template>
</p-menubar>
}
