<app-loading [isLoading]="isLoading | async" [isOverlay]="true"></app-loading>
<p-toast />
<p-confirmDialog />
<i class="pi pi-arrow-left mt-10 ml-4 custom-back-arrow" (click)="goBack()"></i>
<div class="card surface-50 p-4 border-round mt-6 p-6">
  <!-- Section Intro -->
  <div class="flex justify-content-between align-items-center">
    <!-- Author and profile in a single line -->
    <div
      class="text-3xl text-900 mt-4 md:mt-0 text-center md:text-left font-semibold md:pr-4"
    >
      {{ travel?.title }}
    </div>

    <div class="flex align-items-center">
      @if(!isOwnPost){
      <span class="text-900 font-semibold m-3">by {{ travel?.username }}</span>
      <img
        [src]="
          this.creator.profilePhotoUrl === '' ||
          this.creator.profilePhotoUrl === null
            ? '../../assets/defaultProfilePicture.jfif'
            : this.creator.profilePhotoUrl
        "
        alt=""
        class="w-3rem h-3rem border-circle mr-2 pointer"
        (click)="goToUserProfile()"
      />
      } @else{
      <div [style]="{ marginRight: '3rem' }">
        <p-speedDial
          [buttonStyle]="{ width: '3rem', height: '3rem' }"
          showIcon="pi pi-cog"
          [model]="items"
          direction="down"
        />
      </div>
      }
    </div>
  </div>
  <!-- Date and location details -->
  <div
    class="flex flex-wrap flex-column gap-2 align-items-left text-sm text-600 pt-3"
  >
    <span class="flex align-items-center">
      <i class="pi pi-clock text-primary mr-1"></i>
      @if (travel?.endDate) {
      <span class="text-900"
        >{{ travel?.startDate | date : "dd.MM.yyyy" }} -
        {{ travel?.endDate | date : "dd.MM.yyyy" }}</span
      >} @else {
      <span class="text-900">{{ travel?.startDate | date : "dd.MM.yyyy" }}</span
      >}
    </span>
    <span>
      <i class="pi pi-map-marker text-primary mr-1"></i>
      <span>{{ travel?.countryName }}</span>
      @if (travel?.cities) {
      <span>: {{ travel.cities }}</span>
      }
    </span>
  </div>
  <!-- Section split into two columns -->
  <div class="two-column-layout">
    <!-- Left side with description and details -->
    <div class="left-side-layout">
      <div class="flex flex-wrap align-items-left text-sm text-600">
        <!-- Description with regular font size -->
        <p class="text-lg line-height-3 text-900 mt-3 pt-6">
          {{ travel?.description }}
        </p>
        <div class="likes-section">
          <i
            class="custom-like-icon"
            (click)="toggleLike()"
            [ngClass]="isLiked ? 'pi pi-heart-fill text-danger' : 'pi pi-heart'"
          ></i>

          <div class="card flex justify-content-center align-items-center">
            <p-avatarGroup
              styleClass="mb-3"
              (click)="openUserListModal()"
              class="pointer"
            >
              @for(user of likedBy?.slice(0,4); track user){
              <p-avatar
                [image]="
                  user.profilePhotoUrl ||
                  '../../assets/defaultProfilePicture.jfif'
                "
                shape="circle"
                size="normal"
                [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
              />
              } @if(numberOfLikes > 4){
              <p-avatar
                label="+{{ numberOfLikes - 4 }}"
                shape="circle"
                size="normal"
                [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
              />
              }
            </p-avatarGroup>
          </div>
        </div>
      </div>
    </div>
    <!-- Right side with changing photo -->
    <div
      class="flex justify-content-center flex justify-center pt-2 right-side-layout"
    >
      <p-galleria
        [value]="photos"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [showIndicators]="true"
        [showIndicatorsOnItem]="true"
        [containerStyle]="{ 'max-width': '500px', 'margin-top': '2em' }"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item.itemImageSrc"
            alt="whatever"
            class="w-full h-auto border-round"
          />
        </ng-template>
      </p-galleria>
    </div>
  </div>

  <!-- Down Arrow -->
  <div id="gallery" class="flex justify-content-center m-8">
    <button
      class="p-button p-button-rounded p-button-secondary"
      (click)="scrollToGallery()"
    >
      <i class="pi pi-arrow-down"></i>
    </button>
  </div>

  <!-- Gallery -->
  <div>
    <!-- Thumbnails -->
    <div *ngIf="photos" class="grid gallery-thumbnails-display">
      <div
        *ngFor="let image of photos; let index = index"
        class="grid-item"
        (click)="imageClick(index)"
      >
        <img
          [src]="image.itemImageSrc"
          class="w-full h-full border-round img-thumbnails-custom"
          alt="Image thumbnail"
        />
      </div>
    </div>

    <!-- Galleria for fullscreen view -->
    <p-galleria
      [value]="photos"
      [(visible)]="displayCustom"
      [(activeIndex)]="activeIndex"
      [containerStyle]="{ 'max-width': '850px' }"
      [numVisible]="7"
      [circular]="true"
      [fullScreen]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
    >
      <ng-template pTemplate="item" let-item>
        <img
          class="img-full-screen-custom"
          [src]="item.itemImageSrc"
          alt="Full-size image"
        />
      </ng-template>
    </p-galleria>
  </div>
</div>
