.card {
  width: 75%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.galleria-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.two-column-layout {
  display: flex;
  gap: 3rem;
  margin-right: -3rem;
}

.two-column-layout .left-column {
  flex: 0 0 25%;
}

.two-column-layout .right-column {
  flex: 0 0 75%;
  display: flex;
  justify-content: center;
}

/* one column with bigger screens */
@media (max-width: 768px) {
  span {
    font-size: 1rem;
  }
  .two-column-layout {
    flex-direction: column;
  }
  .two-column-layout .left-column,
  .two-column-layout .right-column {
    flex: 0 0 100%;
  }
}

@media (max-width: 568px) {
  .two-column-layout {
    flex-direction: column;
  }
  .two-column-layout .left-column,
  .two-column-layout .right-column {
    flex: 0 0 100%;
  }
}

.pointer {
  cursor: pointer;
}

.description {
  max-width: 30rem;
  word-wrap: break-word;
}

.likes-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: left;
  gap: 0.6rem;
}

::ng-deep .card {
  margin: 0;
}

.custom-back-arrow {
  position: absolute;
  top: 9.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.custom-like-icon {
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--primary-color);
}

.left-side-layout {
  flex: 0 0 50%;
}

.right-side-layout {
  flex: 0 0 40%;
}

.gallery-thumbnails-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.img-thumbnails-custom {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}

.img-full-screen-custom {
  width: 100%;
  display: block;
}

/* Domyślny styl (dla większych ekranów) */
.description {
  font-size: 1.25rem; /* Rozmiar czcionki dla desktopów */
  line-height: 2rem; /* Wysokość linii */
  margin-top: 1rem; /* Górny margines */
  padding-top: 1.5rem; /* Górny odstęp wewnętrzny */
}

/* Średnie ekrany (np. tablety) */
@media (max-width: 1024px) {
  .description {
    font-size: 1rem; /* Zmniejszenie czcionki */
    line-height: 1.75rem; /* Mniejsza wysokość linii */
    margin-top: 0.75rem; /* Mniejszy margines */
    padding-top: 1rem; /* Mniejszy padding */
  }
}

/* Małe ekrany (np. smartfony) */
@media (max-width: 768px) {
  .description {
    font-size: 0.975rem; /* Jeszcze mniejsza czcionka */
    line-height: 1.5rem; /* Dopasowanie wysokości linii */
    margin-top: 0.5rem; /* Minimalny margines */
    padding-top: 0.75rem; /* Minimalny padding */
  }
}

/* Bardzo małe ekrany (np. małe smartfony) */
@media (max-width: 576px) {
  span {
    font-size: 0.75rem; /* Minimalny rozmiar czcionki */
    padding-top: 0.1rem; /* Minimalny padding */
    padding-bottom: 0.1rem; /* Minimalny padding */
  }

  .description {
    max-width: 80%;
    font-size: 0.75rem; /* Minimalny rozmiar czcionki */
    line-height: 1.25rem; /* Minimalna wysokość linii */
    margin-top: 0.25rem; /* Minimalny margines */
    padding-top: 0.5rem; /* Minimalny padding */
  }
}

/* Domyślny styl dla dużych ekranów */
.title {
  font-size: 2rem; /* Rozmiar tekstu */
  font-weight: 600; /* Grubość tekstu */

  margin-top: 1rem; /* Górny margines */
  text-align: center; /* Wyrównanie tekstu */
  padding-right: 0; /* Brak odstępu wewnętrznego po prawej */
}

/* Styl dla średnich ekranów  */
@media (max-width: 1024px) {
  .title {
    font-size: 1.75rem;
    margin-top: 0.5rem;
    text-align: left;
    padding-right: 1rem;
  }
}

/* Styl dla małych ekranów  */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    text-align: center;
    padding-right: 0;
  }
}

/* Styl dla bardzo małych ekranów  */
@media (max-width: 576px) {
  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0;
    text-align: left;
  }
}
